<app-menu>  
    <div class="card">
      <div class="row animated fadeIn">
        
        <div class="col-md-4 container">
            <img src="http://www.iconarchive.com/download/i65564/icojam/blue-bits/user-settings.ico" class="img-fluid">
          <br><br>
        </div>
        
        <div class="col-md-8">
          <hr>
          <div class="container">
          </div>
          <hr>        
          <h3><b>Usuario: </b>{{profile.username}}</h3>
          <h3><b>Email: </b> {{profile.email}}</h3>
          <hr>          
          <h3><b>Actualizar datos</b></h3>
        
          <form class="container" (ngSubmit)="guardarCorreo()"  #formaCorreo="ngForm">
              <div class="row">  
              <div class="col-lg-6 form-group">
                  <label>Correo electrónico</label>
                  <input 
                    [(ngModel)]="profile.email" 
                    name="nombre"         
                    type="email" 
                    class="form-control"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" 
                    required>
                </div>
              </div>
                <button 
                [disabled]="!formaCorreo.valid"
                type="submit"
                class="btn btn-outline-primary btn-lg">
                  Actualizar email
              </button>
          </form>
                 
          <form class="container" (ngSubmit)="savePassword()" #formaContrasenia="ngForm">              
              <div class="row">
                  <div class="col-lg-6 form-group">
                      <label>Contraseña</label>
                      <input 
                        [(ngModel)]="profile.password" 
                        name="password"         
                        type="password"
                        pattern=".{8,}"                        
                        class="form-control" 
                        required>
                        <p class="text-muted small">La contraseña debe tener 8 caracteres como mínimo incluyendo letras y números</p>                         
                    </div>
              </div>
              <button 
                [disabled]="!formaContrasenia.valid"
                type="submit"
                class="btn btn-outline-primary btn-lg">
                  Actualizar contraseña
              </button>
              </form>
              <hr>
              <div class="form-group">
                <button 
                  class="clas btn btn-outline-danger btn-lg btn-block"
                  [routerLink]="['/home']">Volver</button>                
                </div>
      </div>

      </div>
      <br>
    </div>
  </app-menu>
