<app-menu>
  <!--Buscador-->
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <button [routerLink]="['/amcliente']" class="btn btn-success" data-toggle="modal" data-target="#exampleModalLong">Nuevo <span class="glyphicon glyphicon-plus-sign"></span></button>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Buscar..." #buscarTexto>
          <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="buscarCliente(buscarTexto.value)">Buscar</button>
        </form>
      </div>
    </nav>
  <div class="row my-flex-card">      <!-- *ngFor="let cliente of clientes; let i = index; " -->
    <div class="col-lg-2 nopadding"  *ngFor="let k of clientes | keys; let i=index ">
      <div class="card animated fadeIn fast">
        <img class="card-img-top img-fluid" src="../../../assets/clientesrandom/user2.png" [alt]="clientes[k].nombre">
          <div class="card-block">
            <h4 class="card-title">{{clientes[k].nombre}} {{clientes[k].apellido}}</h4>
            <hr>
            <p>N° Cliente: {{clientes[k].id}}</p>            
            <p>Sexo: {{clientes[k].sexo}}</p>
            <p class="card-text">Categoria: {{clientes[k].categorias}}</p>
            <p class="card-text"><small class="text-muted">{{clientes[k].email}}</small></p>
            </div>
            <div class=" inner btn-group" role="group" aria-label="Basic example">                  
              <button title="Ver detalle" class="btn btn-outline-info btn-lg"  [routerLink]="['/cliente', clientes[k].id]"><span class="glyphicon glyphicon-zoom-in"></span></button>
              <button title="Editar" class="btn btn-outline-warning btn-lg" [routerLink]="['/amcliente', clientes[k].id]" data-target="#exampleModalLong"><span class="glyphicon glyphicon-pencil"></span></button>            
              <button title="Dar de baja" (click)="bajarCliente(clientes[k].id)"
                class="btn btn-outline-danger btn-lg"><span class="glyphicon glyphicon-minus"></span>
              </button>                            
              <button title="Cuotas" [routerLink]="['/cuota',clientes[k].id]" class="btn btn-outline-primary btn-lg"><span class="glyphicon glyphicon-usd"></span></button>
            </div>
          <br>  
      </div>      
    </div>
  </div>
  <div class=" row alert alert-info" *ngIf="(clientes | keys).length === 0 && !loading">
    <strong>No hay registros que mostrar</strong>
  </div>

  <div class=" row alert alert-warning" *ngIf="loading">
    <strong>Cargando...</strong> por favor espere
  </div>
</app-menu>
<!-- PAGINAR RESULTADOS -->
  
   