<app-menu>
  <!--Buscador-->
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <button [routerLink]="['/amrecordatorio']" class="btn btn-success" data-toggle="modal" data-target="#exampleModalLong">Nuevo <span class="glyphicon glyphicon-plus-sign"></span></button>
            <button class="btn btn-primary" (click)="consultar('iniciado')">Ver iniciados</button>
            <button class="btn btn-primary" (click)="consultar('resuelto')">Ver archivados</button>
            <button class="btn btn-primary" (click)="consultar('cancelado')">Ver cancelados</button>                        
          </li>
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Buscar..">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form> -->
      </div>
    </nav> 

    <div class="row my-flex-card animated fadeIn"> 
      <div class="card col-lg-3 nopadding animated fadeIn" *ngFor="let k of recordatorios | keys; let i=index">
        <div class="tarjeta animated fadeIn">
          <img class="text-center imgCenter" width="40px" height="40px" src="http://www.duncanpriebe.com/pages/bulletin-board/img/pin-green.png">
          <br>          
          <i><h4 class="container card-title text-center"><strong>{{recordatorios[k].descripcion}}</strong></h4></i>
          <br>
          </div>
        <div class="card-block">
          <p  class="card-text"><b>Estado: </b>  {{recordatorios[k].estado}}</p>
          <p class="card-text"><b>Tipo: </b>{{recordatorios[k].tipo}}</p>
          <!-- <p class="card-text"><b>Inicio: </b>{{recordatorios[k].fecha_inicio | date:'dd/MM/yyyy'}} - {{recordatorios[k].hora_inicio | times}} </p>
          <p class="card-text"><b>Fin: </b>{{recordatorios[k].fecha_fin  | date:'dd/MM/yyyy'}} - {{recordatorios[k].hora_fin | times}}</p> -->
          <!--<p class="card-text"><small class="text-muted">Creado por:</small></p>-->
          <p class="card-text"><b>Inicio: </b>{{recordatorios[k].fecha_inicio | date:'dd/MM/yyyy'}} </p>
          <p class="card-text"><b>Fin: </b>{{recordatorios[k].fecha_fin  | date:'dd/MM/yyyy'}}  </p>
          <!--<p class="card-text"><small class="text-muted">Creado por:</small></p>-->
          <div class=" inner btn-group" role="group" aria-label="Basic example">                  
              <button title="Editar" class="btn btn-outline-warning btn-lg" [routerLink]="['/amrecordatorio', recordatorios[k].id]" data-target="#exampleModalLong"><span class="glyphicon glyphicon-pencil"></span></button>            
              <button *ngIf="archiva" title="Archivar"
                class="btn btn-outline-success btn-lg" (click)="cancelarRecordatorio(recordatorios[k].id)"><span class="glyphicon glyphicon-check"></span>
              </button>                            
      
            </div>
        </div>
      </div>
    </div>

    <div class=" row alert alert-info" *ngIf="(recordatorios | keys).length === 0 && !loading">
        <strong>No hay registros que mostrar</strong>
      </div>
    
      <div class=" row alert alert-warning" *ngIf="loading">
        <strong>Cargando...</strong> por favor espere
      </div>
</app-menu>