<app-menu>   
  <div class="card">
    <div class="container">
      <h1 class="text-center">Configuración del sistema</h1>
      <hr>

      <p class="text-center inner">
        <a class="btn btn-primary btn-lg" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Parametros del sistema
        </a>
        <a class="btn btn-primary btn-lg" data-toggle="collapse" href="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
            Categorias de cliente
          </a>
      </p>
      <div class="collapse" id="collapseExample">
          <h1>Parámetros</h1>
          <p class="text-muted">*La última en la que se verificaron las altas y bajas fue {{fechaAltasBajas.valor | date: 'dd MMMM yyyy'}}</p>                                     
          <div class="row my-flex-card">
          <div class="col-lg-3 nopadding" *ngFor= "let k of settings | keys; let i=index">
            <div class="card animated fadeIn fast">
                <img class="container card-img-top img-fluid" src="http://cloud4good.com/wp-content/uploads/2016/12/gear-1077550_640.jpg">
                  <div class="card-block">
                    <h4 class="text-muted">{{settings[k].descripcion}}</h4>
                  </div>
                  <div>
                    <b><input
                    [(ngModel)]="settings[k].valor"                       
                      class="form-control text-center"
                      required></b>
                      <br>                  
                  </div>
            </div>
            <br>            
            </div>
            <div class="inner btn-group" role="group" aria-label="Basic example">
              <button 
              (click)="guardar()"
              class="btn btn-outline-primary btn-lg btn-block">
                Guardar cambios
            </button>                  
          </div> 
        </div>         
       <!-- <div class="card card-block">
            <form class="container" (ngSubmit)="guardar()" #forma="ngForm">          
                  <div class="form-group row" *ngFor="let k of settings | keys; let i=index ">
                    <div class="container">
                      <label>{{settings[k].descripcion}}</label>
                      <input
                      [(ngModel)]="settings[k].valor"                       
                        name="settings[k].nombre"         
                        class="form-control"
                        value= "{{settings[k].valor}}"
                        required>
                      </div>
                    </div> 
        
                    <div class="modal-footer">
                        <button type="button" [routerLink]="['/home']" class="btn btn-secondary btn-lg" data-dismiss="modal">Volver</button>
                        <button 
                        [disabled]="!forma.valid"
                        type="submit"
                        class="btn btn-outline-primary btn-lg">
                          Guardar cambios
                      </button>
                      </div>
              </form>
        </div> -->
      </div>

      <div class="collapse" id="collapseExample2">
          <div class="card card-block">
              <div class="row">
                  <div class="col-lg-12">
                    <h1>Categorias de cliente</h1> 
                    <hr>
                    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
                        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>    
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                              <button [routerLink]="['/amcategoria']" class="btn btn-success" data-toggle="modal" data-target="#exampleModalLong">Nuevo <span class="glyphicon glyphicon-plus-sign"></span></button>
                            </li>
                          </ul>
                          <!-- <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="text" placeholder="Buscar..">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                          </form> -->
                        </div>
                    </nav>

                      <br>

                  <div class="row my-flex-card">               
                    <div class="col-lg-2 nopadding" *ngFor= "let k of categorias | keys; let i=index">
                        <div class="card animated fadeIn fast">
                            <img class="container card-img-top img-fluid" src="https://faithinourfuture.files.wordpress.com/2014/02/istock_000011869612small1-copy-800-x-600.jpg">
                              <div class="card-block">
                                <h4 class="card-title">{{categorias[k].nombre}}</h4>
                                <hr>
                                <p>{{categorias[k].descripcion}}</p>            
                              </div>
                              <div class=" inner btn-group" role="group" aria-label="Basic example">                  
                                  <button title="Editar" class="btn btn-outline-warning btn-lg" [routerLink]="['/amcategoria', categorias[k].id]" data-target="#exampleModalLong"><span class="glyphicon glyphicon-pencil"></span></button>            
                                  <!--<button title="Borrar"
                                    class="btn btn-outline-danger btn-lg"><span class="glyphicon glyphicon-minus"></span></button> -->
                              </div>
                                
                        </div>
                    </div>
                  </div>

                </div>
              </div>
          </div>
        </div>         
    </div>
  </div> 
</app-menu>
