<app-menu>
    <div class="card">
      <h1 class="container">Categoria</h1>
      <form class="container" (ngSubmit)="guardar()" #forma="ngForm">
        <div class="row">  
        <div class="col-lg-6 form-group">
            <label>Nombre</label>
            <input 
              [(ngModel)]="categoria.nombre" 
              name="nombre"         
              type="text" 
              class="form-control" 
              placeholder="Nombre de la categoria" 
              required>
          </div>
      
          <!--<div class="col-lg-6 form-group">
              <label>Foto</label>   
              <input class="form-control"
                [(ngModel)]="categoria.foto" 
                name="tipodocumento"         
                type="text" 
                class="form-control" 
                placeholder="" 
                required>
                <div>
                    <label for="exampleInputFile">Seleccione imagen</label>
                    <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                  </div>
              </div> -->
           
          </div>
        <div class="row">
            <div class="col-lg-6 form-group">
                <label>Descripcion</label>
                <input 
                  [(ngModel)]="categoria.descripcion" 
                  name="apellido"         
                  type="textarea" 
                  class="form-control" 
                  placeholder="Descripción de la categoria" 
                  required>
              </div>
          
          <!--<div class="col-lg-6">
              <img src="http://placehold.it/1024x350" class="img-fluid" alt="Responsive image">
              <br>              
          </div> -->
         
        </div>
          <hr>
            <div class="form-group text-right">
              <button 
                class="clas btn btn-outline-danger btn-lg"
                [routerLink]="['/settings']"
                >Volver</button>
      
              <button 
                [disabled]="!forma.valid"
                type="submit"
                class="btn btn-outline-primary btn-lg">
                  Guardar
              </button>
            </div>
        </form>
    </div>
    </app-menu>