<app-menu>
  <div class="card">
    <h1 class="container">Recordatorio</h1>
    <form class="container" (ngSubmit)="guardar()" #forma="ngForm">
      <div class="row">
        <div class="col-lg-12 form-group">
          <label>Inicio</label>
          <input 
            [(ngModel)]="recordatorio.fecha_inicio" 
            name="fecha_inicio"         
            type="date" 
            class="form-control" 
            placeholder="" 
            required> 
        </div>

       <!-- <div class="col-lg-12 form-group">
          <label>Hora inicio</label>
          <input 
            [(ngModel)]="recordatorio.hora_inicio" 
            name="hora_inicio"         
            type="time" 
            class="form-control" 
            placeholder="" 
            required> 
        </div> -->
    
        <div class="col-lg-12 form-group">
          <label>Fin</label>
          <input 
            [(ngModel)]="recordatorio.fecha_fin" 
            name="fecha_fin"         
            type="date" 
            class="form-control" 
            placeholder="" 
            required> 
        </div>

        <!-- <div class="col-lg-12 form-group">
          <label>Hora fin</label>
          <input 
            [(ngModel)]="recordatorio.hora_fin" 
            name="hora_fin"         
            type="time" 
            class="form-control" 
            placeholder="" 
            required> 
        </div> -->
      
      
        <div class="col-lg-12 form-group">
          <label>Tipo</label>
           <select class="form-control"
            [(ngModel)]="recordatorio.tipo" 
            name="tipo"         
            type="text" 
            class="form-control" 
            placeholder="" 
            required>        
          <option value="rutina" selected>Rutina</option>
          <option value="alta">Alta</option>
          <option value="baja">Baja</option>      
          <option value="otro">Otro</option>      
          
          </select>
        
            
        </div>
    
        <div class=" col-lg-12 form-group">
          <label>Descripción</label>
          <input 
            [(ngModel)]="recordatorio.descripcion" 
            name="nombredocumento"         
            type="text" 
            class="form-control" 
            placeholder="Descripción" 
            required> 
        </div>
    
        <div class="col-lg-12 form-group">
          <label>Usuarios que visualizan</label>
          <input 
            [(ngModel)]="recordatorio.usuarios_permitidos" 
            name="gruposanguineo"         
            type="text" 
            class="form-control" 
            placeholder="" 
            required> 
        </div>
      </div>
      
    
          <div class="form-group text-right">
            <button 
              class="clas btn btn-outline-danger btn-lg"
              [routerLink]="['/recordatorios']"
              >Volver</button>
    
            <button 
              [disabled]="!forma.valid"
              type="submit"
              class="btn btn-outline-primary btn-lg">
                Guardar
            </button>
        </div>
      </form>
    </div> 
</app-menu>