<app-menu>
<div class="card row">
    <!--<div class="card col-md-12">
        <h1 class="card text-center">Recordatorios del día</h1>
        <div class="col-lg-2 nopadding">
                <div class="card animated fadeIn fast">
                    <div class="card-block">
                    <h4 class="card-title"></h4>
                    <hr>
                    <p>Recordar algo</p>            
                    <p>Estado: </p>
                    <p class="card-text">Tipo: </p>
                    <p class="card-text"><small class="text-muted">Vencimiento</small></p>
                    </div>
                    <div class=" inner btn-group" role="group" aria-label="Basic example">                  
                        <button title="Ver detalle" class="btn btn-outline-info btn-lg"  [routerLink]="['/cliente',k]"><span class="glyphicon glyphicon-zoom-in"></span></button>
                        <button title="Editar" class="btn btn-outline-warning btn-lg" [routerLink]="['/amcliente', k]" data-target="#exampleModalLong"><span class="glyphicon glyphicon-pencil"></span></button>            
                    </div>
                    <br>  
                </div>
                <br>    
        </div>
    </div>
    
<hr> -->

<div class="col-lg-12">
    <h1 class="card text-center">Reportes</h1>
</div>
<div class="container row">                   
    <div class="card col-md-12">
                <div class="card animated fadeIn fast">
                    <div class="card-block">
                    <h4 class="card-title">Altas y bajas</h4>
                    <hr>
                    <p>Se dieron de alta {{altas}} personas, mientras que se dieron de baja {{bajas}}</p>
                    </div>
                </div>
    </div>            
</div>
              
<h2>Categorias</h2>
<div class="container row">                   
    <div class="card col-lg-12">
        <div style="display: block">
            <canvas baseChart
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
        </div>
    </div>
</div>

<h2>Sexo</h2>             
<div class="container row">  
    <div class="card col-lg-12">
            <canvas baseChart
                        [data]="doughnutChartData"
                        [labels]="doughnutChartLabels"
                        [chartType]="doughnutChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
            </canvas>
    </div>
</div>

    <h2>Edad</h2>
    <div class="container row">                   
        <div class="card col-lg-12">
            <div style="display: block">
                <canvas baseChart
                        [datasets]="barChartData2"
                        [labels]="barChartLabels2"
                        [options]="barChartOptions2"
                        [legend]="barChartLegend2"
                        [chartType]="barChartType2"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
            </div>
        </div>
    </div>

    <h2>Cuotas</h2>
    <div class="container row">                   
        <div class="card col-lg-12">
            <div style="display: block">
                <canvas baseChart
                        [datasets]="barChartData3"
                        [labels]="barChartLabels3"
                        [options]="barChartOptions3"
                        [legend]="barChartLegend3"
                        [chartType]="barChartType3"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
            </div>
        </div>
    </div>
</div>
</app-menu>