<app-menu> 
  <div class="card"> 
    <h1 class="container">Cliente</h1> 
    <form [formGroup]="formas" class="container" (ngSubmit)="guardar()">
        <div class="row">
            <div class="col-lg-6 form-group"> 
              <label>Nombre</label>
              <input type="text" class="form-control"
               formControlName="nombre"> 
            </div> 
            <div class="col-lg-6 form-group"> 
                <label>Apellido</label>
                <input type="text" class="form-control"
                 formControlName="apellido"> 
            </div>
            <div class="col-lg-6 form-group"> 
                <label>Fecha Nacimiento</label>
                <input type="date" class="form-control"
                 formControlName="fecha_nacimiento"> 
            </div>
            
            <div class="col-lg-6 form-group"> 
                <label>Tipo Documento</label>
                <select type="text" class="form-control"
                 formControlName="tipo_documento">
                 <option value="DU - Documento Único">DU - Documento Único</option> 
                 <option value="DNT - Documento Nacional Temporal">DNT - Documento Nacional Temporal</option>
                 <option value="DNI - Documento Nacional de Identidad">DNI - Documento Nacional de Identidad</option>
                 <option value="Pasaporte">Pasaporte</option>
                 <option value="Libreta Cívica">Libreta Cívica</option>
                </select> 
            </div>

            <div class="col-lg-6 form-group"> 
                <label>Numero de documento</label>
                <input type="number" class="form-control"
                 formControlName="numero_documento"> 
            </div>

            <div class="col-lg-6 form-group"> 
                <label>Email</label>
                <input type="email" class="form-control"
                 formControlName="email"> 
            </div>

            <div class="col-lg-6 form-group" formArrayName="categorias"> 
                <label>Categorias</label> <a (click)="agregarCategoria()" class="btn btn-primary">+</a>                
                
                <select *ngFor="let cate of formas.controls['categorias'].controls | keys; let i=index" type="text" class="form-control"
                 formControlName="{{i}}">
                 <option *ngFor= "let c of categorias | keys; let i=index" value="{{categorias[c].id}}">{{categorias[c].nombre}}</option> 
                </select>
            </div>

            <div class="col-lg-6 form-group"> 
              <label>Sexo</label>
              <select type=text class="form-control" formControlName="sexo">
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
                <option value="Indeterminado">Indeterminado</option>
              </select> 
          </div>

          <div class="col-lg-6 form-group"> 
              <label>Observaciones</label>
              <textarea type="text" class="form-control"
               formControlName="observaciones"> </textarea>
          </div>

          <div class="col-lg-6 form-group"> 
              <label>Dia vencimiento</label>
              <input type="text" class="form-control"
               formControlName="dia_vencimiento"> 
          </div>

          <div class="col-lg-6 form-group">             
          <form [formGroup]="telefonoForm" class="container" (ngSubmit)="guardar()">            
            <div class="col-lg-12">
                <h3>Telefono</h3>
                <div class="col-lg-6 form-group">  
                    <label>Codigo pais</label>  
                    <input   
                      type="number"  
                      class="form-control"   
                      formControlName="codigo_pais"
                      required>  
              </div>
              <div class="col-lg-6 form-group">  
                  <label>Codigo area</label>  
                  <input   
                  type="number"  
                  class="form-control"   
                  formControlName="codigo_area"  
                    required>  
    
            </div>
            <div class="col-lg-6 form-group">  
                <label>Tipo</label>  
                <input   
                  type="text"  
                  class="form-control"   
                  formControlName="tipo"   
                  required>  
    
          </div>
          <div class="col-lg-6 form-group">  
              <label>Numero</label>  
              <input   
                type="number"  
                class="form-control"   
                formControlName="numero"   
                required>  
    
        </div>    
          </div>
            </form>
          </div>

          <div class="col-lg-6 form-group">             
            <form [formGroup]="domicilioForm" class="container" >            
              <div class="col-lg-12">
                  <h3>Domicilio</h3>
                  <div class="col-lg-6 form-group">  
                      <label>Calle</label>  
                      <input   
                        type="text"  
                        class="form-control"   
                        formControlName="calle"
                        required>  
                </div>
                <div class="col-lg-6 form-group">  
                    <label>Numero</label>  
                    <input   
                    type="number"  
                    class="form-control"   
                    formControlName="numero"  
                      required>  
      
              </div>
              <div class="col-lg-6 form-group">  
                  <label>Piso</label>  
                  <input   
                    [(ngModel)]="domicilio.piso"   
                    type="number"  
                    class="form-control"   
                    formControlName="piso"   
                    required>  
      
            </div>
            <div class="col-lg-6 form-group">  
                <label>Departamento</label>  
                <input   
                  type="text"  
                  class="form-control"   
                  formControlName="departamento"   
                  required>  
      
          </div>    
            </div>
              </form>  
          </div>
    
        </div>

        
        
      
      
          <div class="form-group text-right">  
            <button  
              class="clas btn btn-outline-danger btn-lg" 
              [routerLink]="['/clientes']" 
              >Volver</button> 
          
            <button  
              [disabled]="!formas.valid"  
              type="submit"  
              class="btn btn-outline-primary btn-lg">  
                Guardar  
            </button>
              
          </div> 
      </form>
  </div> 
</app-menu>  