   
<!-- BOTONES INGRESAR Y REGISTRARSE-->
<div class="p">
  <div class="container card animated fadeIn" style="width: 35rem;">
      <br>
      <img class="card-img-top img-responsive" src="./../../../assets/responsive.png">
      <div class="card-block ">
          <h4 class="card-title text-center">Gestión de gimnasios</h4>
          <p class="card-text text-center">Aplicación realizada en el marco de la cátedra DACS, UTN-FRCU.</p>
          <button type="button" class="btn btn-outline-primary btn-lg btn-block"
          [routerLink]="['/login']">Ingresar/Registrarse</button>
          <br>
      </div>            
  </div>
</div>
      
