<div id="outPopUp" >
    <div class="account-wall">
        <div id="my-tab-content" class="tab-content">
                <!-- LOGIN -->
                <div class="tab-pane active" id="login">
                <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
            alt="">
                <form (submit)="loginUser($event)" class="form-signin" action="" method="">
                    <div class=" row alert alert-danger" *ngIf="incorrecto">
                                <strong>Usuario/Contraseña</strong> incorrectos
                    </div>
                    <input type="text" class="form-control" placeholder="Usuario" required autofocus>
                    <input type="password" class="form-control" placeholder="Contraseña" required>
                    <input type="submit" class="btn btn-lg btn-success btn-block" value="Ingresar" />
                </form>
                    
                <div id="tabs" data-tabs="tabs">
                    <p class="text-center"><a href="#register" data-toggle="tab">Necesita una cuenta?</a></p>
                </div>

                </div>
                <!-- FIN LOGIN -->

                <!-- REGISTRARSE -->
                <div class="tab-pane" id="register">
                    <h2 class="text-center">Registrarse</h2>
                    <form class="form-signin" (ngSubmit)="guardar()" #forma="ngForm">
                        <div>
                            <input  [(ngModel)]="usuario.username"
                                    name="username"
                                    type="text" class="form-control" 
                                    placeholder="Nombre de usuario..." 
                                    required autofocus>
                        </div>
                        <input  [(ngModel)]="usuario.email" 
                                type="email" 
                                name="email"
                                class="form-control" 
                                placeholder="Email..." 
                                required>
                        
                                <input  [(ngModel)]="usuario.password" 
                                type="password"
                                name="password" 
                                class="form-control"
                                pattern=".{8,}"  
                                placeholder="Contraseña..." 
                                required>
                        <p class="text-muted small">La contraseña debe tener 8 caracteres como mínimo incluyendo letras y números</p>
                        <button [disabled]="!forma.valid"
                                type="submit" 
                                class="btn btn-lg btn-primary btn-block" 
                                >Registrarse</button>
                    </form>
                    
                <div id="tabs" data-tabs="tabs">
                <p class="text-center"><a href="#login" data-toggle="tab">Ya tiene cuenta?</a></p>
                    </div>
                    
                </div>
                <!--FIN REGISTRARSE-->

        </div>
    </div>
</div>
