<app-menu>    
  <br>
  <div class="row">
      <div class=" row alert alert-warning" *ngIf="loading">
          <strong>Cargando...</strong> por favor espere
        </div>
                      
        <p class="text-center inner">
            <a class="btn btn-primary btn-lg" data-toggle="collapse" href="#collapseImpagas" aria-expanded="false" aria-controls="collapseExample">
              Cuotas impagas
            </a>
            <a class="btn btn-primary btn-lg" data-toggle="collapse" href="#collapseVencidas" aria-expanded="false" aria-controls="collapseExample">
                Cuotas vencidas
              </a>
              <a class="btn btn-primary btn-lg" data-toggle="collapse" href="#collapseFacturadas" aria-expanded="false" aria-controls="collapseExample">
                  Cuotas facturadas
                </a>
          </p>

  <div class="collapse col-lg-12" id="collapseImpagas">
      <div class="table-responsive card">
        <h1>Cuotas impagas</h1>
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Cliente</th>
              <th>Cuota</th>
              <th>Monto</th>
              <th>Vencimiento</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let k of cuotasImpagas | keys">
              <td>{{cuotasImpagas[k].cliente}}</td>
              <td>{{cuotasImpagas[k].fecha_vencimiento | date: 'MMMM yyyy'}}</td>              
              <td>$ {{cuotasImpagas[k].monto}}</td>
              <td>{{cuotasImpagas[k].fecha_vencimiento | date: 'dd MMMM yyyy'}}</td>              
              <td>
                <button (click)="pagar(cuotasImpagas[k].id)" class="btn btn-success btn-block">Pagar</button>
              </td>
            </tr>
            
            
          </tbody>
        </table>
      </div>
  </div>

    <div class="collapse col-lg-12" id="collapseVencidas">        
        <div class="table-responsive card">
          <h1>Cuotas vencidas</h1>
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Cliente</th>
                <th>Cuota</th>
                <th>Monto</th>
                <th>Vencimiento</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let k of cuotasVencidas | keys">
                <td>{{cuotasVencidas[k].cliente}}</td>
                <td>{{cuotasVencidas[k].fecha_vencimiento | date: 'MMMM yyyy'}}</td>              
                <td>$ {{cuotasVencidas[k].monto}}</td>
                <td>{{cuotasVencidas[k].fecha_vencimiento | date: 'dd MMMM yyyy'}}</td>              
                <td>
                  <button (click)="pagar(cuotasVencidas[k].id)" class="btn btn-success btn-block">Pagar</button>
                </td>
              </tr>
              
              
            </tbody>
          </table>
        </div>
    </div>

    <div class="collapse col-lg-12" id="collapseFacturadas">        
          <div class="table-responsive card">
            <h1>Cuotas pagas</h1>
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Cliente</th>
                  <th>Cuota</th>
                  <th>Monto</th>
                  <th>Vencimiento</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor = "let k of cuotasPagas | keys">
                  <td>{{cuotasPagas[k].cliente}}</td>
                  <td>{{cuotasPagas[k].fecha_vencimiento | date: 'MMMM yyyy'}}</td>              
                  <td>$ {{cuotasPagas[k].monto}}</td>
                  <td>{{cuotasPagas[k].fecha_vencimiento | date: 'dd MMMM yyyy'}}</td>              
                  <td>
                    <button (click)="cancelarPago(cuotasPagas[k].id)" class="btn btn-danger btn-block">Cancelar pago</button>
                  </td>
                </tr>
                
                
              </tbody>
            </table>
          </div>
    </div>
  </div>
</app-menu>