<app-menu>

    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <b>Cuotas</b> del cliente {{nombre}}
            </li>
          </ul>
          <!--<form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Buscar..">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
          </form> -->
        </div>
      </nav>

  <div class=" row alert alert-warning" *ngIf="loading">
      <strong>Cargando...</strong> por favor espere
  </div>
  <!-- <div class=" row alert alert-info" *ngIf="(cuotasCliente | keys).length === 0 && !loading">
      <strong>No hay cuotas para mostrar...</strong>
  </div> -->
  
  <div class="row">              
    <p class="text-center inner">
        <a class="btn btn-primary btn-lg" data-toggle="collapse" href="#collapseImpagas" aria-expanded="false" aria-controls="collapseExample">
          Cuotas impagas
        </a>
        <a class="btn btn-primary btn-lg" data-toggle="collapse" href="#collapseVencidas" aria-expanded="false" aria-controls="collapseExample">
            Cuotas vencidas
          </a>
          <a class="btn btn-primary btn-lg" data-toggle="collapse" href="#collapseFacturadas" aria-expanded="false" aria-controls="collapseExample">
              Cuotas facturadas
            </a>
      </p>

<div class="collapse col-lg-12" id="collapseImpagas">
  <div class="table-responsive card">
    <h1>Cuotas impagas</h1>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Cuota</th>
          <th>Monto</th>
          <th>Vencimiento</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let k of cuotasClienteImpagas | keys">
          <td>{{cuotasClienteImpagas[k].fecha_vencimiento | date: 'MMMM/yyyy'}}</td>              
          <td>$ {{cuotasClienteImpagas[k].monto}}</td>
          <td>{{cuotasClienteImpagas[k].fecha_vencimiento | date: 'dd/MM/yyyy'}}</td>              
          <td>
            <button (click)="pagar(cuotasClienteImpagas[k].id)" class="btn btn-success btn-block">Pagar</button>
          </td>
        </tr>
        
        
      </tbody>
    </table>
  </div>
</div>

<div class="collapse col-lg-12" id="collapseVencidas">        
    <div class="table-responsive card">
      <h1>Cuotas vencidas</h1>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Cuota</th>
            <th>Monto</th>
            <th>Vencimiento</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let k of cuotasClienteVencidas | keys">
            <td>{{cuotasClienteVencidas[k].fecha_vencimiento | date: 'MMMM/yyyy'}}</td>              
            <td>$ {{cuotasClienteVencidas[k].monto}}</td>
            <td>{{cuotasClienteVencidas[k].fecha_vencimiento | date: 'dd/MM/yyyy'}}</td>              
            <td>
              <button (click)="pagar(cuotasClienteVencidas[k].id)" class="btn btn-success btn-block">Pagar</button>
            </td>
          </tr>
          
          
        </tbody>
      </table>
    </div>
</div>

<div class="collapse col-lg-12" id="collapseFacturadas">        
      <div class="table-responsive card">
        <h1>Cuotas pagas</h1>
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Cuota</th>
              <th>Monto</th>
              <th>Fecha de pago</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let k of cuotasClientePagadas | keys">
              <td>{{cuotasClientePagadas[k].fecha_vencimiento | date: 'MMMM/yyyy'}}</td>              
              <td>$ {{cuotasClientePagadas[k].monto}}</td>
              <td>{{cuotasClientePagadas[k].fecha_pago | date: 'dd/MM/yyyy'}}</td>              
              <td>
                <button (click)="cancelarPago(cuotasClientePagadas[k].id)" class="btn btn-danger btn-block">Cancelar pago</button>
              </td>
            </tr>
            
            
          </tbody>
        </table>
      </div>
</div>
</div>
</app-menu>
