/* MENU */
.autores {
  text-align: center;
}
td, th {
      vertical-align: middle !important;
  }

.clear { clear: both; }  

.left  {
      float:left;
      min-height: 100% !important;        
      height: 100% !important;
      width: 100%;          
      background: #337ab7;
    }

.left {
      
      background: #337ab7;
      white-space: nowrap; 
      width: 50px;
      transition: width 1s;  
  }

.left:hover {
      width: 180px;
      height: 100%;
  }    
  
.item:hover {
      background-color:#ccc;
      }
      
.left .glyphicon {
      margin:15px;
      width:20px;
      color:#fff;
  }
  
span.glyphicon.glyphicon-refresh{
      font-size:17px;
      vertical-align: middle !important;
  }
  
.item {
      height:50px;
      overflow:hidden;
      color:#fff;
  }

.title {
      background-color:#eee;
      border-style:solid;
      border-color:#ccc;
      border-width:1px;
      box-sizing: border-box;
  }

.search:hover {
      border-color:#4aa9fb;
      border-width:1px;
  }

.search {
       padding:3px 8px 3px !important;
  }

input[type=search] {
      padding: 10px 0px 10px;
      border: 0px solid #fff;
      background: #eee;
      -webkit-appearance: none;
      width:90%;
      float:none;
}

input[type=search]:focus {
      outline:none;
  }

.type{
      height: 47px;;
}

/*FIN MENU*/

/*LOGIN */
.opciones{
  display: flex;
  justify-content: center;
}

.form-signin
{
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
  margin-bottom: 10px;
}
.form-signin .checkbox
{
  font-weight: normal;
}
.form-signin .form-control
{
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus
{
  z-index: 2;
}
.form-signin input[type="text"]
{
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.account-wall
{
  margin-top: 20px;
  padding: 40px 0px 20px 0px;
  background-color: #f7f7f7;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img
{
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/*FIN LOGIN */

/* ESTILOS PARA LAS TARJETAS DE CLIENTES */
.inner {
  width: 100%;
  text-align: center;
  display: inline-block;
  
}

.my-flex-card > div > div.card {
  height: calc(100% - 0px);
  margin-bottom: 0px;
}

.boton-cliente{
  bottom:   0;  
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
/*Fin estilos para tarjetas de clientes*/

/* CUOTAS */

.card-deck{
  padding: 10px;
}

h2 {
  text-align: center;
}

tabla
{
  padding-top: 10px;
}

table caption {
    padding: .5em 0;
}

@media screen and (max-width: 767px) {
  table caption {
    border-bottom: 1px solid #ddd;
  }
}

.p {
  text-align: center;
  padding-top: 140px;
  font-size: 14px;
}


/* FIN CUOTAS */ 

/* FOOTER */ 
.footer {
  width: 100%;
  top: 0;
  height: 50px;  
  background-color: #337ab7;
}

.footertext{
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  color: whitesmoke;
}
/* FIN FOOTER */

/*General */
html,body { 
  height:100% !important; 
  overflow: auto;
  margin: 0;
  padding: 0;
}
 
.cursorManito{ /* Para que cuando pasen por un elemento el cursor sea pointer*/
  cursor: pointer;
}

.ajuste{
  float: left;
}

.link{
  text-decoration: none;
  color:whitesmoke;    
}

.container-fluid {
  padding: 0px;
}


.home{
  /* Location of the image */
  background-image: url('/assets/screen3.jpeg');
     
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;

  height: 100% !important;
  width: 100%;
}

.ultimo-item {
  height:50px;
  overflow:hidden;
  color:#fff;

  
}

.ultimo-item:hover {
  background-color:#ccc;
  }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}



@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

/* LOGIN */
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 80px;
    padding: 40px 0px 20px 0px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}
.login-title
{
    color: #555;
    font-size: 22px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.select-img
{
    border-radius: 50%;
    display: block;
    height: 75px;
    margin: 0 30px 10px;
    width: 75px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.select-name
{
    display: block;
    margin: 30px 10px 10px;
}

.logo-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

#outPopUp {
  position: absolute;  
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 25%;
  left: 50%;
  margin: -100px 0 0 -150px;
}

.tarjeta {
  background-color:#CCEEFF;
}

.imgCenter {
  display: block;
  margin: 0 auto;
}