<app-menu>  
  <div class="card">
    <div class="row animated fadeIn">
      
      <div class="col-md-4">
          <img src="../../../assets/clientesrandom/user.png" class="img-fluid">
        <br><br>
      </div>
      
      <div class="col-md-8">
        <hr>
        <div class=" row alert alert-danger" *ngIf="dadoDeBaja">
          Este cliente fue dado de baja el {{cliente.fecha_baja | date: 'dd MMMM yyyy'}}
        </div>
        <div class="container">
        </div>
        <hr>        
        <h3>{{cliente.nombre}} {{cliente.apellido}}</h3>
        <hr>
        <div class="container">
          <p>  
            
              <b>Email:</b> {{cliente.email}}<br>
              <b>Fecha de nacimiento: </b>{{cliente.fecha_nacimiento}}<br>
              <b>DNI:</b> {{cliente.tipo_documento}} {{cliente.numero_documento}}<br>
              <b>Sexo:</b> {{cliente.sexo}}<br>
              <b>Fecha de baja:</b> {{cliente.fecha_baja | date: 'dd MMMM yyyy'}}<br>
              <b>Fecha de alta:</b> {{cliente.fecha_alta | date: 'dd MMMM yyyy'}}<br>
              <b>Domicilio:</b> {{domicilio.calle}} {{domicilio.numero}}<br>
              <b>Categoria:</b> {{cliente.categorias}}<br>
              <b>Vencimiento:</b> dia {{cliente.dia_vencimiento}} de cada mes<br>
              <b>Observaciones:</b> {{cliente.observaciones}}<br>
          </p>
          <div *ngFor="let k of telefonos | keys; let i=index"><b>Telefono {{[i +1]}}:</b> {{telefonos[k].codigo_pais}}{{telefonos[k].codigo_area}}-{{telefonos[k].numero}}</div>            
        </div>  
        <hr>
        <div class="container">
        <a [routerLink]="['/clientes']" class="btn btn-outline-info btn-block btn-lg">Volver</a>
        </div>
      </div> 
    </div>
    <br>
  </div>
</app-menu>