<nav class=" footer navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
     <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
      </ul>
      <span class="navbar-text">
        <div class="dropdown">
                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-user">
                            Usuario
                    </span>                
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" [routerLink]="['/account']">
                        <span class="glyphicon glyphicon-cog">
                            Información
                        </span>                
                    </a>                     
                    <button (click)="salir()" class="dropdown-item" >
                            <span class="glyphicon glyphicon-log-out">
                                Salir
                            </span>                
                    </button>
                </div>
              </div>
      </span>
    </div>
  </nav>
    <!-- BARRA SUSPERIOR -->
    <!--<footer class="footer text-center">
    <div class="container fluid">
        <p class="footertext">
        &copy; Grupo Python - DACS 2017, UTN FRCU
        </p>
        <p class="text-rigth">
            hola a
        </p>
    </div>
    </footer> -->
    <!-- MENU LATERAL -->
    <div class="left animated fadeIn">
        <div class="item cursorManito">
            <span class="glyphicon glyphicon-th-large"></span>
            <a class="link" [routerLink]="['/home']">Inicio</a>         
        </div>
        <div class="item active cursorManito">
            <span class="glyphicon glyphicon-user"></span>
            <a class="link" [routerLink]="['/clientes']">Clientes</a>        
        </div>
        <div class="item cursorManito">
            <span class="glyphicon glyphicon-usd"></span>
            <a class="link" [routerLink]="['/cuotas']">Cuotas</a> 
        </div>
        <div class="item cursorManito">
            <span class="glyphicon glyphicon-time"></span>
            <a class="link" [routerLink]="['/recordatorios']">Recordatorios</a> 
        </div>
        <div class="item cursorManito">
            <span class="glyphicon glyphicon-cog"></span>
            <a class="link" [routerLink]="['/settings']">Configuracion</a> 
        </div> 
    </div>

<ng-content></ng-content>
